header {
    height: 710px;
    width: 100%;
    margin-top: -10px;
    background: #fff url(/img/Fon.jpg);
	color: #fff;
	background-attachment: fixed;
	background-repeat: repeat-x;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.log1 {
    height: 55px;
    width: 60px;
    margin-top: 20px;
    margin-left: 25px;
}
.m1 {
    columns: 3;
    border: none;
    width: 700px;
    height: 60px;
    margin-left: 600px;
    display:inline-block;
    margin-top: -30px;
}
aside {
    background: #fff url(/img/Fon.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
    height: 700px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.c {
    height: 27px;
    width: 30px;
    margin-left: 30px;
    margin-bottom: -5px;
}
li {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
    height: 70px;
    margin-bottom: -10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
main {
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
    height: 700px;
    font-size: 20px;
    margin-top: -50px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: -60px;
}
.hh {
    padding: 50px 20px;
    text-align: center;
    margin-top: 150px;
}
.hh h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: #d4b288;
    font-size: 60px;
    position: relative;
    font-weight: normal;
    display: inline-block;
    padding: 10px 40px;
    margin: 0;
    line-height: 1;
}
.hh h1:before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -15px;
    background: #d4b288;
  }
.hh h1:after {
    content: ""; 
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid #d4b288;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
  }
.wrapper {
    columns: 1;
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
.left {
    margin-top: 40px;
    margin-left: 30px;
    width: 400px;
    height: 350px;
    border-color: none;
}
.right {
    float:right;
    width: 500px;
    height: 350px;
    margin-top: -240px;
}
.chart .pipe {
    background: #e0dfdf none repeat scroll 0 0;
    box-shadow: 3px 3px 3px 0 rgb(233, 198, 198) inset;
   }
.chart .pipe {
    width: 400px;
    height: 12px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: -50px;
   }
.chart p {
    margin: 0 0 5px;
    margin-left: -45px;
   }
.chart .pipe > div {
    background: #d6b07e none repeat scroll 0 0;
    border-radius: 5px;
    height: 12px;
   }
.h4 {
    font-size: 21px;
    margin-left: -70px;
    margin-top: -180px;
}
.log2 {
    height: 40px;
    width: 45px;
    margin-top: 10px;
    align-items: right;
    margin-left: 1000px;
}
.ul2 {
    list-style: none;
    width: 400px;
    margin-top: -10px;
    margin-left: -25px;
}
.ul2 li {
    position: relative;
    padding: 15px 0 20px 40px;
    color: #C48A47;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}
.ul2 li:before {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: black;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 25px;
}
.ul2 li:after {
    position: absolute;
    border-left: 1px dotted black;
    width: 4px;
    bottom: -20px;
    content: "";
    left: 3px;
    top: 48px;
}
.ul2 li:hover:before {
    box-shadow: 0 0 0 10px black
}
.ul2 li:last-child:after {
    content: none;
}
.img1 {
    width: 360px;
    height: 410px;
    margin-top: -50px;
    margin-left: 70px;
}
.v1 {
    margin-bottom: 90px;
}
.h32 {
    margin-right: 30px;
    margin-top: 45px;
    margin-left: -90px;
}
.li2 {
    margin-left: -85px;
    margin-top: -2px;
}
.p1 {
    margin-left: 30px;
    text-align: center;
    margin-top: -3px;
}
.d1 {
    width: 500px;
}
.pic {
    width: 550px;
    margin-left: -5px;
}
#i1 {
    font-size: 34px;
}
#i2 {
    font-size: 34px;
}
#i3 {
    height: 710px;
    width: 100%;
    font-size: 34px;
}
.a1 {
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    margin-left: -100px;
}
.a2 {
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    margin-left: 11px;
}
.a3 {
    display:inline-block;    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    margin-left: -40px;
}
.p2 {
    text-align: center;
    font-size: 28px;
}
.wrapper2 {
    columns: 4;
    background: url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
    height: 440px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.mr1 {
    padding: 7px;
    height: 175px;
    width: 175px;
    margin-top: 40px;
}
.mr11 {
    margin-left: -50px;
    width: 290px;
    height: 200px;
}
.b1 {
    margin-top: 35px;
    margin-left: -45px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 5px;
	outline: none;
	border: 1px solid rgb(241, 207, 241);
	border-radius: 50px;
	height: 70px;
    width: 280px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(241, 207, 241);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.mr2 {
    margin-top: 160px;
    padding: 7px;
    height: 70px;
    width: 175px;
}
.mr12 {
    width: 270px;
    height: 200px;
    margin-top: 50px;
    margin-left: -45px;
}
.b2 {
    margin-left: -52px;
	box-sizing: border-box;
	padding: 0 5px;
	outline: none;
	border: 1px solid rgb(241, 207, 241);
	border-radius: 50px;
	height: 70px;
    width: 280px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(241, 207, 241);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	transition: box-shadow 0.2s;
}
.mr3 {
    padding: 7px;
    height: 175px;
    width: 175px;
    margin-top: 40px;
}
.mr13 {
    width: 290px;
    height: 200px;
    margin-left: -67px;
}
.b3 {
    margin-top: 30px;
    margin-left: -60px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 5px;
	outline: none;
	border: 1px solid rgb(241, 207, 241);
	border-radius: 50px;
	height: 70px;
    width: 280px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(241, 207, 241);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.mr4 {
    padding: 7px;
    height: 70px;
    width: 175px;
    margin-top: 154px;
}
.mr14 {
    width: 290px;
    height: 200px;
    margin-top: 50px;
    margin-left: -65px;
}
.b4 {
    margin-left: -61px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 5px;
	outline: none;
	border: 1px solid rgb(241, 207, 241);
	border-radius: 50px;
	height: 70px;
    width: 280px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(241, 207, 241);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.contacts {
    height: 650px;
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
    margin-top: -40px;
    columns: 2;
}
.portfolio {
    height: 700px;
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
.left2 {
    margin-left: -500px;
    width: 200px;
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
.right2 {
    margin-top: -470px;
    margin-left: 200px;
    width: 530px;
    background: #fff url(/img/Fon.jpg);
	color: black;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
form {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 5px;
}
input {
    padding: 5px;
    width: 250px;
    height: 33px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px black;
}
textarea {
    height: 50px;
    width: 260px;
    color: gray;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: none;
}
.button5 {
    margin: 15px 50px;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid rgb(241, 207, 241);
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: rgb(241, 207, 241);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid rgb(241, 207, 241);
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(41, 40, 40), 0 3px 6px rgb(41, 40, 40);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: rgb(206, 153, 206);
	border-color: rgb(206, 153, 206);
	color: #444;
	cursor: not-allowed;
}
.ul3 {
    display: inline-block;
    columns: 2;
    list-style: none;
}
.imgs1 {
    width: 100px;
    height: 100px;
    margin-left: -500px;
    padding: 10px;
    margin-top: -15px;
}
.imgs2 {
    width: 110px;
    height: 110px;
    margin-left: -507px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 56px;
}
.imgs3 {
    width: 112px;
    height: 112px;
    margin-left: -302px;
    padding: 10px;
    margin-bottom: 19px;
    margin-top: -11px;
}
.imgs4 {
    width: 104px;
    height: 104px;
    margin-left: -300px;
    padding: 10px;
    margin-bottom: 60px;
    margin-top: 30px;
}